// Fonts

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&family=Shrikhand&display=swap');

// Vars : 

$background-black: rgb(50, 50, 50);
$background-light : rgb(245, 245, 245);
$background-dark : rgb(225, 225, 225);
$background-green : #99E2D0;


// I - Base setup

*{
    margin : 0;
    padding : 0;
    font-family: "Roboto";
}
body{
    width : 100vw;
    overflow-x: hidden; // To make the screen view centered on the website when it's loading
    background: $background-light;
}
// Setting the sizes for the consistency of the site
p{
    font-size : 18px;
    font-weight: 300;
}
h1{
    font-size : 30px;
}

h2{
    font-size : 26px;
}
img{
    height : 300px;
    width : 100%;
    object-fit: cover;
}
i{
    width : 30px; // To make the background take all space when hiding other icons
}

// II- loading screen 
.appear{
    opacity : 0;
    animation : appear 3s forwards;
}
.content{
    position : absolute;
    z-index : 1;
    width : 100%;
    height : 100%;
    opacity : 100%; // To display the loading screen first and make it disappear with opacity
    animation-name : appear;
    animation-duration : 3s;
    overflow-x: hidden;
    background-color: $background-light;
}
.loading{
    position : sticky; // To make the loading screen take all space
    z-index : 0;
    width : 100vw;
    height : 100vh;
    background-color : #FFFFFF; // White
    overflow-x: hidden; // Not to be bothered by divs which are outside the screen before loading
}

//helper 

.ctr-flex{
    display : flex;
    width : 100%;
    justify-content: center;
}


// III - Header

header{
    padding : 20px 0;
    display : flex;
    flex-direction : column;
    justify-content: center;
    background-color : #FFFFFF; // White
    h1{
        font-family: "Shrikhand"; // Font-family : to make the title of logos
        text-align : center;
    }
    i{
        position : absolute;
        align-self: center;
        left : 20px;
        font-size : 26px;
    }
}
// IV - content of the website : 
button{
    width : 60%;
    height : 60px;
    cursor: pointer;
    font-size: 18px;
    color : #FFFFFF;
    border : none;
    background: linear-gradient(0deg, rgba(147,86,220,1), rgba(255,121,218,1) 100%);
    align-self : center;
    border-radius : 50px;
    transition : 0.4s;
    &:hover{
        opacity : 0.8;
    }
}

// V - class 'infos', under the header

.infos{
    width : 100%; // As always to take the whole width
    height : 350px; // Fixed height
    display : flex;
    flex-direction : column;
    justify-items : center;
    p{ 
        text-align : center;
        padding : 0 10%;
    }
    h2{
        text-align: center;
        padding : 0 20%;
        padding-top : 30px;
        align-self: center;
    }
    button{
        margin-bottom : 30px;
    }
    &__content{
        display : flex;
        flex-direction : column;
        justify-items : center;
        justify-content: space-around;
        height : 100%;
        background-color : $background-light; // Using the clearer background color using a var
    }
    &__title{
        padding-bottom : 15px;
        box-shadow : inset 0px 3px 3px rgb(0 0 0 / 10%);
        background-color : $background-dark; // Using the darker background color using a var
        p{
            margin-top : 10px;
            font-weight: 400;
        }
    }
}
.help-user{
    padding-top : 20px;
    padding-bottom : 50px;
    background-color : #FFFFFF;
    display : flex;
    flex-direction : column;
    &__title{
        height : 90px;
        display : flex;
        flex-direction : column;
        justify-content: center;
        h2{
            margin-left : 30px;
        }
    }
    &__content{
        height : 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    &__card{
        display : flex;
        width : 80%;
        height : 60px;
        background-color : $background-light;
        border-radius: 20px;
        align-self : center;
        box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.2);  
        &__number{
            align-self : center;
            background-color : rgb(147,86,220);
            height : 20px;
            width : 20px;
            border-radius : 20px;
            position : relative;
            left : -10px;
            display : flex;
            justify-content : center;
            color : #FFFFFF
        }
        p{
            align-self : center;
        }
        i{
            align-self: center;
            margin : 15px;
        }
    }
}

.home{
    display : flex;
    flex-direction: column;
    background-color: $background-light;
    padding-bottom : 60px;
    h2{
        margin : 40px 0 20px 20px; 
    }
    &__restaurant{
        cursor: pointer;
        height : 300px;
        width : 90%;
        background-color: #FFFFFF;
        align-self : center;
        margin : 20px 0; 
        border-radius: 20px;
        box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.2);  
        .new{
            position : relative;
            background-color: $background-green;
            top : -270px;
            left : 70%;
            width : 25%;
            height : 15%;
            display : flex;
            flex-direction : column;
            justify-content: center;
            border-radius: 5px;
            p{
                text-align : center;
                font-weight: 500;
                color:#1f8f75
            }
        }
        img{
            width : 100%;
            height : 70%;
            border-radius : 20px 20px 0px 0px;
            max-height : 300px;
            object-fit: cover;
        }
        &__infos{
            height : 30%;
        }
        h3{
            padding-top : 20px;
            padding-left : 1.8%;
            width : 50%;
        }
        .like{
            display : flex;
            width : 95%;
            justify-content : space-between ;
            >div{
                bottom : 10px;
                position : relative
            }
            .like-default{
                position : relative;
                background-color : white;
            }
            &--select::before{
                color : rgb(147,86,220);
                position : relative;
                left : -25%;
                margin-bottom : 10px;
            }
            p{
                width : 50%;
                padding-left : 2%;
            }
            div{
                width : 10px;
                height : 10px;
                cursor: pointer;
            }
            .pos{
                width : 50px;
                display : flex;
                .none{
                    opacity : 0;
                    position : relative;
                    left : -45%;
                    transition : 0.2s;
                }
                .none:hover{ 
                    opacity : 1
                }
            }
        }
    }
}

footer{
    background-color: $background-black;
    color : #FFFFFF;
    padding-bottom : 30px;
    h3{
        padding : 20px;
        font-family: "Shrikhand";
        margin-left : 20px;
        font-weight: 300;
    }
    div{
        margin-left : 40px;
        margin-top : 10px;
        margin-bottom: 10px;
        display : flex;
        
    }
    >p{
        margin-left : 40px;
        margin-top : 10px;
        margin-bottom: 10px;
    } 
    a {
        margin-left : 40px;
        font-weight : 300;
    }
}

.restaurant-container{
    padding-bottom : 40px;
    background-color :$background-light;
    border-radius : 20px 20px 0 0;
    position : relative;
    top : -50px;
    display : flex;
    flex-wrap: wrap;
    justify-content : center;
    h2{
        margin : 10px;
        font-weight : 300;
        font-size : 20px;
        text-transform:uppercase;
        margin-top : 30px;
    }
    h2::after{
        content : "";
        display : block;
        width : 60px;
        height : 3px;
        background-color : rgb(0, 199, 189);
        margin : 5px 0 15px 0;
    }
    .title-restaurant{
        display : flex;
        justify-content: space-between;
        width : 100%;
        margin-left : 20px;
        h1{
            font-family: 'Shrikhand';
            font-size : 26px;
            font-weight : 300;
            margin-top : 20px;
        }
        .pos{
            width : 50px;
                display : flex;
                .none{
                    color : rgba(147,86,220,1);
                    opacity : 0;
                    position : relative;
                    left : -52%;
                    transition : 0.2s;
                }
                .none:hover{ 
                    opacity : 1
                }
        }
        i{
            padding-top : 20px;
            font-size : 26px;
            transition : 0.2s;
        }
    }
    .title-dishes{
        width : 95%;
    }
    .dish{
        width : 90%;
        height : 90px;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius : 20px;
        margin : 10px;
        box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.1);
        display : flex;
        flex-wrap : wrap;
        justify-content : space-between;
        h3{
            margin : 10px;
            width : 80%;
            padding : 5px;
            font-weight: 500;
            overflow : hidden;
            text-overflow: ellipsis;
            height : 1em;
            white-space: nowrap;
        }
        p{
            margin : 10px;
            width : 80%;
            height : 1em;
            padding : 5px;
            font-size : 1em;
            font-weight : 300;
            transition : 0.3s;
            bottom : 10px;
            position : relative;
            text-overflow : ellipsis;
            overflow : hidden;
            white-space: nowrap;
        }
        h4{
            width : 10%;
        }
        &__validation {
            width : 0%;
            background-color : transparent;
            height : 100%;
            transition: all 0.3s;
            position : relative ;
            top : -48.5px;
            border-radius: 0 20px 20px 0 ;
            display : flex;
            justify-content: center;
            align-items: center;
            i {
                display : none;
                color: #FFFFFF;
                font-size : 2em;
                position : relative;
                left : -8px;
            }
        }
        &:hover > .dish__validation{
            width : 20%;
            background-color : $background-green;
            i{
                display : block;
            }
        }
        &:hover > p {
            width : 60%;
        }
        &:hover > h3{
            width : 65%;
        }
    }
    button{
        justify-items : center;
        margin-top : 50px;
    }
}
a{
    text-decoration: inherit;
    color : inherit;
}
.loader{
    width : 100px;
    height : 100px;
    margin : auto;
    top : 0;
    bottom : 0;
    right : 0;
    left : 0;
    background : linear-gradient(0deg, rgba(147,86,220,1), rgba(255,121,218,1) 100%);
    border-radius : 100%;
    position : absolute;
    animation-name: load;
    animation-duration: 3s;
}
.loader::before{
    border-radius: 100%;
    content: '';
    width : 90px;
    height : 90px;
    position : absolute;
    top : 5px;;
    bottom : 0;
    left : 5px;
    right : 0;
    background-color : #FFFFFF;
}

@keyframes appear{
    0%{
        opacity: 0;
    }
    70%{
        opacity: 0;
    }
    100%{
        opacity : 1;
    }

}
@keyframes load{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(1000deg);
    }
}

@for $i from 1 through 11{
    .appear-#{$i} {
        animation-delay: ($i * 300ms);
    }
}